Package: com.wangyankun.hookObjc-Msgsend
Name: hookObjc_Msgsend
Version: 2.0
Description: hookobjc
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: wangyankun
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

