Package: com.ishumei.hookObjc-Msgsend
Name: hookObjc_Msgsend
Version: 0.1-1
Description: 
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: wangyankun
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon: 

