<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Hook 控制</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rainl.nakePref</string>
			<key>key</key>
			<string>EnableObjcMsgSendHook</string>
			<key>label</key>
			<string>启用 objc_msgSend Hook</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rainl.nakePref</string>
			<key>key</key>
			<string>EnableAccessHook</string>
			<key>label</key>
			<string>启用 access Hook</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.rainl.nakePref</string>
			<key>key</key>
			<string>EnableDlopenHook</string>
			<key>label</key>
			<string>启用 dlopen Hook</string>
		</dict>
	</array>
	<key>title</key>
	<string>nakePref</string>
</dict>
</plist>
